In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('data/train.txt', sep='\t', names=[u'dev_id', u'post_id', u'praise', u'time'])
df.head()

                             dev_id  post_id  praise            time
0  8437c6fd866b5426f995569f13dca754   517255       1  20151108062757
1  8437c6fd866b5426f995569f13dca754   532326       1  20151116065912
2  8437c6fd866b5426f995569f13dca754   532350       1  20151116065831
3  8437c6fd866b5426f995569f13dca754   532354       1  20151116065753
4  8437c6fd866b5426f995569f13dca754   532356       1  20151116065734

### 1. 一篇文章可能被一个用户多次点赞

#### (1). 多次点赞

In [49]:
stat = df.groupby(['dev_id', 'post_id'])['praise'].count()
len(stat[stat > 1])

293

In [50]:
c1 = df['dev_id'] == '0021f413fc3fd8d3ef911abd220e4ad4'
c2 = df['post_id'] == 507763
df[c1 & c2]

                                  dev_id  post_id  praise            time
6724    0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151101184432
137893  0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151102073641

#### (2). 不同的时间点踩和赞

In [51]:
stat = df.groupby(['dev_id', 'post_id'])['praise'].nunique()
stat[stat > 1]

dev_id                            post_id
27f569ff7af55500a175bd3f0a16a1ea  520857     2
                                  523031     2
aecfc620642bc000296b46d4e07284e7  513842     2
cb1fb7a517e3aabc797af9c809a124d4  516134     2
ee613cade8eaf68fa467fcbdc4eeff6b  553246     2
Name: praise, dtype: int64

In [52]:
c1 = df['dev_id'] == '27f569ff7af55500a175bd3f0a16a1ea'
c2 = df['post_id'] == 520857
df[c1 & c2]

                                  dev_id  post_id  praise            time
214841  27f569ff7af55500a175bd3f0a16a1ea   520857       2  20151111144629
400112  27f569ff7af55500a175bd3f0a16a1ea   520857       1  20151112045912

### 2. 最大的时间和最小的时间

In [53]:
df['time'].min(), df['time'].max()

(20151101000008, 20151127235945)