In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('data/train.txt', sep='\t', names=[u'dev_id', u'post_id', u'praise', u'time'])
df.head()

                             dev_id  post_id  praise            time
0  8437c6fd866b5426f995569f13dca754   517255       1  20151108062757
1  8437c6fd866b5426f995569f13dca754   532326       1  20151116065912
2  8437c6fd866b5426f995569f13dca754   532350       1  20151116065831
3  8437c6fd866b5426f995569f13dca754   532354       1  20151116065753
4  8437c6fd866b5426f995569f13dca754   532356       1  20151116065734

### 1. 一篇文章可能被一个用户多次点赞

In [30]:
c1 = df['dev_id'] == '0021f413fc3fd8d3ef911abd220e4ad4'
c2 = df['post_id'] == 507763
df[c1 & c2]

                                  dev_id  post_id  praise            time
6724    0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151101184432
137893  0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151102073641

In [31]:
df[c1]

                                  dev_id  post_id  praise            time
6722    0021f413fc3fd8d3ef911abd220e4ad4   507417       1  20151102073246
6723    0021f413fc3fd8d3ef911abd220e4ad4   507616       1  20151102073044
6724    0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151101184432
137893  0021f413fc3fd8d3ef911abd220e4ad4   507763       1  20151102073641
137894  0021f413fc3fd8d3ef911abd220e4ad4   508123       1  20151102073615

In [29]:
df['time'].min(), df['time'].max()

(20151101000008, 20151127235945)