In [2]:
import pandas as pd

In [3]:
dbName = 'db.h5'

In [4]:
train = pd.read_hdf(dbName, 'train')

In [5]:
train.head()

,dev_id,post_id,praise,stat_view,stat_click,days,stat_view_1,stat_click_1,days_1,stat_view_2,stat_click_2,days_2
0,00005abc7fe73b34079315b44c0b82c8,512549,1,1,1,1,1,1,1,0,0,0
1,0000e755c4634a752c6925c354b9aeda,505476,1,1,0,1,0,0,0,1,0,1
2,00014025f3de46f1e8877d0473b99cf9,507488,2,1,0,1,0,0,0,1,0,1
3,00014025f3de46f1e8877d0473b99cf9,525003,2,2,0,2,0,0,0,2,0,2
4,00014025f3de46f1e8877d0473b99cf9,540773,1,3,0,2,0,0,0,3,0,2

In [6]:
apply = pd.read_hdf(dbName, 'apply')

In [7]:
apply.head()

,dev_id,post_id,stat_view,stat_click,days,stat_view_1,stat_click_1,days_1,stat_view_2,stat_click_2,days_2
0,00005e1b188c082b6e629ae3dab445bd,442520,2,0,1,2,0,1,0,0,0
1,00005e1b188c082b6e629ae3dab445bd,555697,1,0,1,1,0,1,0,0,0
2,00005e1b188c082b6e629ae3dab445bd,555712,1,0,1,1,0,1,0,0,0
3,00005e1b188c082b6e629ae3dab445bd,555745,1,0,1,1,0,1,0,0,0
4,00005e1b188c082b6e629ae3dab445bd,555779,1,0,1,1,0,1,0,0,0

In [8]:
len(apply)

4559401